extends ../_layouts/category

block config
  //- Correct base url pathing for this page
  - var baseUrl = '../'

include ../_modules/menu/menu

block menu
  +menu('code')(class='menu')

block title
  h1 Code

block description
  p.subtext.
    Both my bachelor and master degrees are in Computer Science. It thrills me to take on intellectual challenges and make things work. Although I am more interested in design than in becoming a phenomenal coder, or a Machine Learning expert, the technical understanding and skills opened door to many possibilities of what I can do.

block category-content
  .category-content.clearfix
    each project in site.data.code
      div.project
        a(href= project.link)
          img(src= project.thumbnail, class='project-thumbnail')
        h3.project-name
          a(href= project.link)= project.name
        label.project-label= project.label
