extends ../_layouts/category

block config
  //- Correct base url pathing for this page
  - var baseUrl = '../'

include ../_modules/menu/menu

block menu
  +menu('art')(class='menu')

block title
  h1 Art

block description
  p.subtext.
    Creating art has been part of my life since I was a child. I discontinued when I was a teenager, because everyone told me I was good at math and I should become a scientist or engineer. In recent years, I rediscovered my passion and started to explore the space of art once again, with some new skills learned.

block category-content
  .category-content.clearfix
    each project in site.data.art
      div.project
        a(href= project.link)
          img(src= project.thumbnail, class='project-thumbnail')
        h3.project-name
          a(href= project.link)= project.name
        label.project-label= project.label