mixin menu(active, spec)
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  div(class=spec.__class)&attributes(attributes)
    .menu-button
      span.top
      span.middle
      span.bottom

    .menu-overlay
      .row
        .large-12.columns
          nav
            ul
              li
                a(href='/about' class= active === 'about'? 'is-active': '') About
              li
                a(href='/design' class= active === 'design'? 'is-active': '') Design
              li
                a(href='/art' class= active === 'art'? 'is-active': '') Art
              li
                a(href='/code' class= active === 'code'? 'is-active': '') Code
              li
                a(href='/writing' class= active === 'writing'? 'is-active': '') Writing
              li
                a(href='/music' class= active === 'music'? 'is-active': '') Music

      .row
        .large-12.columns
          .menu-contact
            label Say Hi
            p
              a(href='mailto:ningxia.z@gmail.com') ningxia.z@gmail.com
          .menu-contact
            label Connect With Me
            p
              a(href='https://www.instagram.com/ningxiaz/', target='_blank') Instagram
              a(href='https://twitter.com/ningxiaz', target='_blank') Twitter
              a(href='https://www.linkedin.com/in/ningxiazhang', target='_blank') LinkedIn
              a(href='https://medium.com/@ningxiaz', target='_blank') Medium


