mixin menu(spec)
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  div(class=spec.__class)&attributes(attributes)
    .menu-button
      span.top
      span.middle
      span.bottom

    .menu-overlay
      .row
        .large-12.columns
          nav
            ul
              li
                a(href='/about') About
              li
                a(href='/designs') Designs
              li
                a(href='/artworks') Artworks
              li
                a(href='/coding') Coding
              li
                a(href='/writings') Writings
              li
                a(href='#') Music

