extend ./base

include ../_modules/logo/logo
include ../_modules/footer/footer

//- Add extra stylesheets

block content

  //- Provides layout level markup
  .row.row--top.content--fadeIn
    .large-4.columns
      block title

    .large-8.columns
      block description

  .row.content--fadeIn
    .large-12.columns
      block category-content

  +footer

  +logo('../')(class='logo')
  block menu

//- // Add extra scripts
//- block append scripts
