extends ../_layouts/category

block config
  //- Correct base url pathing for this page
  - var baseUrl = '../'

block title
  h1 Designs

block description
  p.subtext.
    With a mixed background of Software Engineering, Human-Computer Interaction and Design Thinking, I aspire to design and build experiences that are useful, pleasant and meaningful.

block category-content
  each project in site.data.designs
    div.project
      a(href='/designs/' + project.name)
        h3= project.name
      label= project.labels
