// About page styles

.about-portrait
  margin-top: $baseline
  margin-bottom: $baseline

.about-section
  padding: 2 * $baseline 0

.about-section--bg
  position: relative

  // this is to make sure the background color is beneath the link underline
  &:after
    content: ' '
    position: absolute
    background-color: $color-light-bg
    width: 100%
    top: 0
    left: 0
    bottom: 0
    right: 0
    display: block
    // to make it underneath the link underline, which has z-index -1
    z-index: 10 * $zIndex-negative

.about-contact
  margin-top: $baseline

  label
    display: block
    margin-top: 0.5 * $baseline
    margin-bottom: $baseline