// About page styles

.about-portrait
  margin-top: $baseline
  margin-bottom: $baseline

.about-section
  padding: 2 * $baseline 0

.about-section--bg
  position: relative
  background-color: $color-light-bg

  h2
    position: relative
    z-index: $zIndex-1

.about-contact
  margin-top: $baseline

  label
    display: block
    margin-top: 0.5 * $baseline
    margin-bottom: $baseline