// Landing syles

.landing-text
  margin-top: 50%
  text-align: right

.landing-name
  @include typeScale(5)
  margin-bottom: 2*$baseline
  font-weight: $fontWeight-accent-bold

.landing-tagline
  margin: 0.5*$baseline 0

.landing-bg
  width: 48%
  position: absolute
  top: 0
  bottom: 0
  left: 0
  background: url('../images/landing_bg.jpg') no-repeat center center
  background-size: cover
  z-index: $zIndex-negative
