extends ../_layouts/base

block config
  //- Correct base url pathing for this page
  - var baseUrl = '../'

block content
  .container
    .row
      .twelve.columns
        h1 Product Designer
        h2 Problem
        p.
          Explore how to utilize design data to empower designers to make better decisions, more quickly, with more confidence. With a vast amount of data at hand.
        p.subtext.
          With a mixed background of Software Engineering, Human-Computer Interaction and Design Thinking, I aspire to design and build experiences that are useful, pleasant and meaningful.
        h3 Apropose
        label Product Ideation. UI/UX. Mobile.
