extends ../../_layouts/project

block config
  //- Correct base url pathing for this page
  - var baseUrl = '../../'

block project-content
  .project-content
    .row
      .large-10.medium-12.large-offset-1.columns
        include:markdown content.md
        a(href='/code') ← Back to my code
