extends _layouts/base

include _modules/link/link

block content
  .landing-bg

  .container
    .row.landing-text
      .offset-by-four.eight.columns
        label.landing-name Ningxia Zhang
        h1.landing-tagline Product Designer
        h1.landing-tagline Art Explorer
        h1.landing-tagline Music Lover
