extends _layouts/base

include _modules/link/link
include _modules/menu/menu

block content

  h3.landing-name NINGXIA ZHANG

  .landing-image-half

  .landing-text-half
    .landing-text
      label.landing-label Full-time
      h1.landing-tagline Product #[a(class='link--prominent', href='/designs') Design]er
      label.landing-label Sometimes
      h1.landing-tagline #[a(class='link--prominent', href='/artworks') Art] Explorer
      label.landing-label Always
      h1.landing-tagline #[a(class='link--prominent', href='/music') Music] Lover

  +menu(class='menu')
