extends _layouts/base

include _modules/menu/menu
include _modules/logo/logo
include _modules/footer/footer

block content

  h3.landing-name NINGXIA ZHANG

  .landing-image-half.landing-image--portrait
  .landing-image-half.landing-image--design
  .landing-image-half.landing-image--art
  .landing-image-half.landing-image--music

  .landing-text-half
    .landing-text
      label.landing-label Full-time
      h1.landing-tagline Product #[a(class='link--prominent landing-link--design', href='/design') Design]er
      label.landing-label Sometimes
      h1.landing-tagline #[a(class='link--prominent landing-link--art', href='/art') Art] Explorer
      label.landing-label Always
      h1.landing-tagline #[a(class='link--prominent landing-link--music', href='/music') Music] Lover

  a(href='/about')
    .landing-mobile-section.content--fadeIn(style='background-image: url(images/landing_bg.jpg)')
      h3 → About

  a(href='/design')
    .landing-mobile-section.content--fadeIn(style='background-image: url(images/landing_design_bg.jpg)')
      h3 → Design

  a(href='/art')
    .landing-mobile-section.content--fadeIn(style='background-image: url(images/landing_art_bg.jpg)')
      h3 → Art

  +footer(class='landing-footer')

  +logo('/')(class='logo')
  +menu(class='menu')

