extends _layouts/base

include _modules/link/link
include _modules/menu/menu

block content
  .landing-bg

  +menu(class='menu')

  .row
    .large-offset-5.large-7.columns
      .landing-text
        label.landing-name Ningxia Zhang
        h1.landing-tagline Product Designer
        h1.landing-tagline Art Explorer
        h1.landing-tagline Music Lover
