extends _layouts/base

include _modules/menu/menu
include _modules/logo/logo

block content

  h3.landing-name NINGXIA ZHANG

  .landing-image-half

  .landing-text-half
    .landing-text
      label.landing-label Full-time
      h1.landing-tagline Product #[a(class='link--prominent', href='/design') Design]er
      label.landing-label Sometimes
      h1.landing-tagline #[a(class='link--prominent', href='/art') Art] Explorer
      label.landing-label Always
      h1.landing-tagline #[a(class='link--prominent', href='/music') Music] Lover

  +menu(class='menu')
  +logo('/')(class='logo')
